.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-width);
    margin-inline: auto;
    padding: 0 var(--container-padding-x);
    column-gap: 10px;
}

.intro {
    margin-top: 96px;
    padding-top: 30px;
    padding-bottom: 80px;
    border-bottom: 1px solid var(--color-dark-grey);
}

.intro__about {
    display: block;
}

.section-header {
    font-size: 101px;
    flex-wrap: wrap;
}

.intro__about-description {
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.intro__about-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.intro__about-link {
    text-decoration: none;
    color: var(--color-yellow);
    width: 54px;
    height: 54px;
}

.intro__photo-wrapper {
    max-width: 600px;
    display: flex;
    justify-content: center;
}

.intro__photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (max-width: 1050px) {
    .section-header {
        font-size: 80px;
    }
}

.about {
    padding-top: 122px;
    padding-bottom: 372px;
}

.about__wrapper {
    column-gap: 213px;
}

.about__description-title {
    padding-top: 15px;
    font-size: 32px;
    margin-bottom: 16px;
}

.about__description-text {
    font-size: 18px;
    font-family: sans-serif;
    color: var(--color-grey);
}

@media (max-width: 815px) {
    .wrapper {
        flex-direction: column;
        row-gap: 3rem;
        padding: 0 calc(var(--container-padding-x) / 2);
    }

    .about {
        padding-top: 60px;
    }
}
